h3 {
	margin-top: 0;
}

.bootstrap-table {
	position: relative;
}

#toolbar {
	position: relative;
	width: auto
}

#faker {
	display: inline-block;
	z-index: 100;
	width: auto;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-radius: 0;
}

#upload {
	display: inline-block;
	z-index: 99;

}

#upload input {
	display: none;
}

#upload .uploadBtn {
	border-radius: 0;
	margin-bottom: 3px;
	display: inline-block;
	border-left: 0;
	border-right: 0;
}

#download {
	display: inline-block;
	z-index: 99;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	float: none;
	margin-left: -5px;
	margin-top: -3px;
}

@media (max-width: 768px) {
	h3 {
		margin-top: -10px;
	}
	#upload {
		display: none;
	}
	#faker {
		display: none;
	}
	#download {
		display: none;
	}
}

#modifyTableList .modal-body {
	padding-left: 70px;
}

#modifyTableLists div.row input.col-xs-1 {
	height: 22px;
	width: 16px;
}