@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont/iconfont.eot');
	src: url('../fonts/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont/iconfont.woff') format('woff'), url('../fonts/iconfont/iconfont.ttf') format('truetype'), url('../fonts/iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

body {
	position: relative;
	/*  overflow-x: hidden;*/
	margin: 0;
	font-size: 12px;
	font-family: "Helvetica Neue", "Microsoft YaHei", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

/* top-header  */

.top-header {
	height: 45px;
	background-color: #006db1;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.hamburger {
	background: transparent;
	border: none;
	display: block;
	height: 32px;
	margin-left: 0px;
	position: fixed;
	top: 7.5px;
	left: 15px;
	width: 32px;
	z-index: 999;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
	outline: none;
}

.hamburger.is-closed .hamb-top {
	background-color: #fff;
	top: 5px;
}

.hamburger.is-closed .hamb-middle {
	background-color: #fff;
	margin-top: -2px;
	top: 50%;
}

.hamburger.is-closed .hamb-bottom {
	-webkit-transition: all 0.35s ease-in-out;
	background-color: #fff;
	bottom: 5px;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
	height: 4px;
	left: 0;
	position: absolute;
	width: 100%;
}

.top-header>span {
	color: #fff;
	line-height: 45px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 60px;
}

.top-header>span>span {
	color: #fff;
	line-height: 45px;
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
}

.top-header>i:before {
	content: '\e666';
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 6px;
	right: 15px;
	z-index: 3;
	cursor: pointer;
	font-weight: 600;
}


/*  Wrappers  */

#wrapper {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding-left: 0;
	padding-top: 45px;
}

#wrapper.toggled {
	padding-left: 220px;
}

#wrapper.toggled #sidebar-wrapper {
	width: 220px;
}

#wrapper #page-content-wrapper {
	/* position: absolute;*/
	max-width: 100%;
	width: auto;
}

#sidebar-wrapper {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	width: 0;
	z-index: 1000;
	border-right: 1px solid #ccc;
	background-color: #fff;
}

#sidebar-wrapper::-webkit-scrollbar {
	display: none;
}


/*Sidebar nav*/

.sidebar-nav>.sidebar-brand {
	height: 86px;
	border-bottom: 1px solid #ebebeb;
}

ul.nav .open {
	background-color: #0990d2;
	color: #fff;
}

.navbar-fixed-top {
	top: 45px;
}

.sidebar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 220px;
	height: 100%;
	overflow-y: auto;
}


/*webkit内核滚动条样式*/

.sidebar-nav::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

.sidebar-nav::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.sidebar-nav::-webkit-scrollbar-thumb {
	background-color: #999;
}

.sidebar-nav>div {
	line-height: 43px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	color: #4c4c4c;
	height: 43px;
	font-size: 16px;
	padding-left: 55px !important;
	background-color: #fafafa;
	cursor: pointer;
}

.sidebar-nav>div>span {
	top: 2px;
}

.sidebar-nav ul {
	border-radius: 0;
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	width: 219px;
	font-size: 14px;
	background-color: #fff;
}

.sidebar-nav>ul>li {
	text-align: center;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
}

.sidebar-nav>ul>li:hover{
	background-color: #f1f1f1;
}

.content-body {
	padding: 20px 20px 0 20px;
	height: 100%;
}

[v-cloak] {
  display: none;
}

/*手机平板响应*/

@media screen and (max-width: 768px) {
	#page-content-wrapper {
		width: 100%!important;
		position: absolute;
	}
}